<form action="/creatures" method="POST">
    <label for="creatureType">Type</label>
    <input id="creatureType" type="text" name="type">
  
    <label for="creatureUrl">Url</label>
    <input id="creatureUrl" type="text" name="img_url">
  
    <input type="submit">
</form>