<form method="POST" action="/dinosaurs/<%= dinoId %>/?_method=PUT">
    <label for="name">Name:</label>
    <input id="name" type="text" value="<%= dino.name %>" name="name" />

    <label for="type">Type:</label>
    <input id="type" type="text" value="<%= dino.type %>" name="type" />

    <button type="submit">Submit</button>
</form>