<a href="/dinosaurs/new">Create a new dino</a>

<form method="GET" action="/dinosaurs">
    <label for="nameFilter">Filter by Name</label>
    <input id="nameFilter" type="text" name="nameFilter">
    <input type="submit">
  </form>

<ul>
    <% myDinos.forEach((dino, index) => { %>
       <li>
        <%= dino.name %> is a <%= dino.type %>
        <!-- delete form to remove dino from db -->
        <form method="POST" action="/dinosaurs/<%= index %>/?_method=DELETE">
          <button type="submit">Delete</button>
        </form>
        <!-- link to a page that will show an edit form for this dino -->
      </li>
    <% }) %>
</ul>